.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.3)
    ),
    url('/banner.jpg');

  background-size: cover;
  object-fit: cover;
  letter-spacing: 0.45rem;
}
