.fruits_header::after {
  content: '';
}

.fruits_header::before {
  content: '';
  display: inline-block;
  height: 2px;
  width: 350px;
  background: red;
  position: absolute;
  left: 50px;
  top: 50%;
}
