.fruits_header::after {
  content: '';
}

.fruits_header::before {
  content: '';
  display: inline-block;
  height: 2px;
  width: 50%;
  background: red;
  position: absolute;
  left: 3rem;
  right: -15rem;

  top: 50%;
}
