.fruits_header::after {
  content: '';
}

.fruits_header::before {
  content: '';
  display: inline-block;
  height: 2px;
  width: 35%;
  background: red;
  position: absolute;
  left: 6rem;

  top: 50%;
}
